<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet"   href="{% static 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'brochure/css/style.css' %}" type="text/css" />
    <title>Brochure App</title>
</head>
<body>
        <img src={% static "brochure/images/background_image.png" %}  width="100%" alt="blog image">
        <div class="top-menu">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'blog:index' %}">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
      {% block body %}
    {% endblock%}
</body>
</html>